//first-screen
section.first-sc#home
  .container.first-sc__container
    a.first-sc__link(href="https://t.me/Punks_Game" target="_blank")
      h1.first-sc__title There's also a way...
    p.first-sc__text Play the $Punks Airdrop Game


