//first-screen
.first-sc {
  height: 100vh;
  background: var(--heroBg) var(--heroImgMob) no-repeat;
  background-size: auto 108%;
  background-position: left 34% top;
  @include mq('768') {
    background-image: var(--heroImg);
    background-size: cover;
    background-position: top center;
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__link {
    transform: scale(1);
    transition: $transition;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__title {
    max-width: 256px;
    text-align: center;
    color: var(--heroText);
    @include mq('768') {
      max-width: 330px;
    }
  }
  &__text {
    margin-top: 20px;
    color: var(--heroText);
  }
}
