//first-screen
.first-sc {
  padding-top: 60px;
  height: 100vh;
  background-color: var(--heroBg);
  background-repeat: no-repeat;
  background-size: auto 108%;
  background-position: left 14% top 56px;
  padding-bottom: 10px;
  transition: padding-top 0.2s ease-in-out;
  background-image: url("../hero-bg-mob--2x.webp");
  background-image: -webkit-image-set(
    url("../img/hero-bg-mob.webp") type("image/webp") 1x,
    url("../img/hero-bg-mob--2x.webp") type("image/webp") 2x
  );
  background-image: -webkit-image-set(
    url("../img/hero-bg-mob.webp") 1x,
    url("../img/hero-bg-mob--2x.webp") 2x
  );
  @include mq('768') {
    background-size: cover;
    background-position: center top 90px;
    background-image: url("../hero-bg-tablet--2x.webp");
    background-image: -webkit-image-set(
      url("../img/hero-bg-tablet.webp") type("image/webp") 1x,
      url("../img/hero-bg-tablet--2x.webp") type("image/webp") 2x
    );
    background-image: -webkit-image-set(
      url("../img/hero-bg-tablet.webp") 1x,
      url("../img/hero-bg-tablet--2x.webp") 2x
    );
  }
  @include mq('1024') {
    background-position: center top 110px;
    background-image: url("../hero-bg--2x.webp");
    background-image: -webkit-image-set(
      url("../img/hero-bg.webp") type("image/webp") 1x,
      url("../img/hero-bg--2x.webp") type("image/webp") 2x
    );
    background-image: -webkit-image-set(
      url("../img/hero-bg.webp") 1x,
      url("../img/hero-bg--2x.webp") 2x
    );
  }
  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__link {
    transform: scale(1);
    transition: $transition;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__title {
    max-width: 256px;
    text-align: center;
    color: var(--heroText);
    @include mq('768') {
      max-width: 330px;
    }
  }
  &__text {
    margin-top: 20px;
    color: var(--heroText);
    text-align: center;
  }
}
