.punkinomics {
  padding: 56px 0 172px;
  @include mq('1024') {
    padding: 118px 0;
  }
  @include mq('1600') {
    padding: 118px 0 248px;
  }
  &__title {
    text-align: center ;
    margin-bottom: 29px;
    @include mq('768') {
      margin-bottom: 85px;
    }
  }
  .container {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 320px;
      height: 246px;
      background: var(--lips) no-repeat;
      top: -241px;
      right: 0;
      background-size: contain;
      display: none;
      filter: contrast(3);
      @include mq('1024') {
        display: block;
      }
    }
    &.invert:before {
      mix-blend-mode: color-dodge;
    }
  }
}

.punkinomics-list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
  @include mq('768') {
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 1600px;
  }
  @include mq('1024') {
    max-height: 1600px;
  }
  @include mq('1280') {
    max-height: 1800px;
    max-width: 1000px;
  }
  @include mq('1600') {
    max-width: 1200px;
  }
  &__title {
    font-size: 18px;
    margin-top: 0px;
    text-transform: uppercase;
    @include mq('1024') {
      font-size: 20px;
    }
  }
  &__item {
    margin-bottom: 15px;
    width: 100%;
    @include mq('768') {
      width: 49%;
      margin-bottom: 55px;
    }
    &:nth-child(4) {
      @include mq('768') {
        margin-top: 73px;
      }
    }
  }
  &-img {
    width: 100%;
    max-width: 329px;
    margin: 0 auto;
    position: relative;
    @include mq('1024') {
      max-width: 360px;
    }
    @include mq('1280') {
      max-width: 450px;
    }
    &__food{
      height: auto;
      display: block;
      margin: 0 auto;
      object-fit: contain;
      width: 300px;
      position: relative;
      left: -14px;
      max-width: 320px;
      @include mq('768') {
        max-width: 100%;
        width: 100%;
        left: 0;
      }
    }
  }
}

.punkinomics-team {
  margin-top: 69px;
  @include mq('768') {
    margin-top: 44px;

  }
  &__img {
    width: 295px;
    height: 143px;
    background: var(--teamImg);
    background-size: contain;
    margin:0 auto;
    @include mq('768') {
      width: 340px;
      height: 171px;
    }
    @include mq('1600') {
      width: 574px;
      height: 278px;
    }
  }
  &__text {
    display: block;
    font-family: $font-family-title;
    font-size: 16px;
    text-align: center;
    @include mq('1024') {
      font-size: 28px;
      margin-top: 20px;
    }
  }
}
