.roadmap {
  padding: 56px 0;
  @include mq('768') {
    padding: 76px 0;
  }
  @include mq('1024') {
    padding: 118px 0 110px;
  }
  &__title {
    margin-bottom: 56px;
  }
  .container {
    max-width: 1220px;
  }
}

.roadmap-list {
  @include mq('768') {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__title {
    font-size: 24px;
    margin-bottom: 26px;
    text-transform: uppercase;
    @include mq('1024')  {
      font-size: 35px;
    }
  }
  &__subtitle {
    font-size: 18px;
    margin-bottom: 13px;
    max-width: 236px;
    text-transform: uppercase;
    line-height: 1.04;
    @include mq('1024')  {
      font-size: 20px;
    }
  }
  &__text {
    &_br {
      border-top: 1px solid var(--fillColor);
      margin-top: 34px;
      padding-top: 34px;
    }
  }
  &__subitem {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item {
    margin-bottom: 45px;
    @include mq('768') {
      width: 31%;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
