section.punkinomics#punkinomics
  .container
    h2.punkinomics__title PUNKINOMICS
    ul.punkinomics-list
      li.punkinomics-list__item
        .punkinomics-list-img
          picture
            source(srcset="./img/punkinomics/punkinomics-1.webp 1x, ./img/punkinomics/punkinomics-1--2x.webp 2x" type="image/webp")
            source(srcset="./img/punkinomics/punkinomics-1.png 1x, punkinomics-1--2x.png 2x" )
            img.punkinomics-list-img__food(src="./img/punkinomics/punkinomics-1.png", alt="punkinomics 1" loading="lazy" width="566" height="540")
        h3.punkinomics-list__title AIRDROP
      li.punkinomics-list__item
        .punkinomics-list-img
          picture
            source(srcset="./img/punkinomics/punkinomics-2.webp 1x, ./img/punkinomics/punkinomics-2--2x.webp 2x" type="image/webp")
            source(srcset="./img/punkinomics/punkinomics-2.png 1x, punkinomics-2--2x.png 2x" )
            img.punkinomics-list-img__food(src="./img/punkinomics/punkinomics-2.png", alt="punkinomics 2" loading="lazy" width="566" height="540")
        h3.punkinomics-list__title MAKERS
      li.punkinomics-list__item
        .punkinomics-list-img
          picture
            source(srcset="./img/punkinomics/punkinomics-3.webp 1x, ./img/punkinomics/punkinomics-3--2x.webp 2x" type="image/webp")
            source(srcset="./img/punkinomics/punkinomics-3.png 1x, punkinomics-3--2x.png 2x" )
            img.punkinomics-list-img__food(src="./img/punkinomics/punkinomics-3.png", alt="punkinomics 3" loading="lazy" width="566" height="540")
        h3.punkinomics-list__title TEAM
      li.punkinomics-list__item
        .punkinomics-list-img
          picture
            source(srcset="./img/punkinomics/punkinomics-4.webp 1x, ./img/punkinomics/punkinomics-4--2x.webp 2x" type="image/webp")
            source(srcset="./img/punkinomics/punkinomics-4.png 1x, punkinomics-4--2x.png 2x" )
            img.punkinomics-list-img__food(src="./img/punkinomics/punkinomics-4.png", alt="punkinomics 4" loading="lazy" width="566" height="540")
        h3.punkinomics-list__title MARKET &amp; CEX LIQUIDITY
      li.punkinomics-list__item
        .punkinomics-list-img
          picture
            source(srcset="./img/punkinomics/punkinomics-5.webp 1x, ./img/punkinomics/punkinomics-5--2x.webp 2x" type="image/webp")
            source(srcset="./img/punkinomics/punkinomics-5.png 1x, punkinomics-5--2x.png 2x" )
            img.punkinomics-list-img__food(src="./img/punkinomics/punkinomics-5.png", alt="punkinomics 5" loading="lazy" width="566" height="540")
        h3.punkinomics-list__title LP BURNT
      li.punkinomics-list__item
        .punkinomics-list-img
          picture
            source(srcset="./img/punkinomics/punkinomics-6.webp 1x, ./img/punkinomics/punkinomics-6--2x.webp 2x" type="image/webp")
            source(srcset="./img/punkinomics/punkinomics-6.png 1x, punkinomics-6--2x.png 2x" )
            img.punkinomics-list-img__food(src="./img/punkinomics/punkinomics-6.png", alt="punkinomics 6" loading="lazy" width="566" height="540")
        h3.punkinomics-list__title FOUNDERS
    .punkinomics-team
      .punkinomics-team__img
      span.punkinomics-team__text MARKETING

