section.roadmap
  .container
    h2.roadmap__title Roadmap
    ul.roadmap-list
      li.roadmap-list__item
        h3.roadmap-list__title Stage 1
        ul.roadmap-list__sublist
          li.roadmap-list__subitem
            h4.roadmap-list__subtitle Kick-off the $PUNKS Airdrop Game
            p.roadmap-list__text Housemade sesame pancake bun, shroom ragu,  Chinese slaw, cilantro.............$10
          li.roadmap-list__subitem
            h4.roadmap-list__subtitle CHAOS CHILI PUNK
            p.roadmap-list__text Vegan sausage (Or not), fiery chili with black beans, corn, habanero peppers....$20
          li.roadmap-list__subitem
            h4.roadmap-list__subtitle (It's worth a taste)
            p.roadmap-list__text Sisar wif schrimps Garbage seagull 2 pizzas (GF)..........10.000 btc
      li.roadmap-list__item
        h3.roadmap-list__title Stage 2
        ul.roadmap-list__sublist
          li.roadmap-list__subitem
            h4.roadmap-list__subtitle Listing
            p.roadmap-list__text Liquidity successfully burned 7:25 (am) oh fuck
          li.roadmap-list__subitem
            h4.roadmap-list__subtitle CEX listdrinks
            p.roadmap-list__text 2B Market Cup
              br
              | FOMO juice
              br
              | SLERF tears
          li.roadmap-list__subitem
            h4.roadmap-list__subtitle $Punks Game into RPG
            p.roadmap-list__text (Real Punks Game) where you can steal coins, battle, die, and be reborn ..$14
          li.roadmap-list__subitem
            h4.roadmap-list__subtitle A bowl of blood curry
            p.roadmap-list__text Creamy coconut curry with tofu, mixed vegetables (GF) ..................$9
          li.roadmap-list__subitem
            h4.roadmap-list__subtitle Finger tacos with cheese
            p.roadmap-list__text Crispy taco shells filled with creamy mac and cheese, ..................$8
      li.roadmap-list__item
        h3.roadmap-list__title Stage 3
        ul.roadmap-list__sublist
          li.roadmap-list__subitem
            h4.roadmap-list__subtitle Fucking Hype
            p.roadmap-list__text Create the Play, Stake, Hold, Share, Live, and other aspects of existence to Earn Blockchain controlled by AI
          li.roadmap-list__subitem
            h4.roadmap-list__subtitle Launch our own AI music label
            p.roadmap-list__text That's going to be hard to swallow... But... anyone can make their own song with their own voice in a couple of clicks and release it on the music scene
          li.roadmap-list__subitem
            h4.roadmap-list__subtitle Buterin dance
            p.roadmap-list__text Crisp
          li.roadmap-list__subitem
            h4.roadmap-list__subtitle Netflix series about us
            p.roadmap-list__text Several Grammys and a few Oscars
            p.roadmap-list__text_br (GF) = gluten free option
