.footer {
  color: var(--footerText);
  background: var(--footerBg);
  padding: 9px 0;
  text-align: center;
  @include mq('768') {
    padding: 31px 0 12px;
  }
  &__text {
    margin-top: 31px;
    &_upper {
      display: block;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq('768') {
      flex-direction: row;
      justify-content: space-around;
    }
    &_max.container {
      max-width: calc(100% - 14px);
      overflow: hidden;
      @include mq('768') {
        padding: 0 13px;
      }
      p {
        white-space: nowrap;
        animation: 20s linear 0s infinite none slider;
      }
    }
  }
  &__block {
    @include mq('768') {
      margin-bottom: 26px;
    }
  }
}

.footer-soc {
  display: flex;
  justify-content: center;
  order: 2;
  margin: 61px 0 67px;
  @include mq('768') {
    order: 0;
    margin: 61px 0 57px;
  }
  &__item {
    margin: 0 8px;
    width: 40px;
    height: 40px;
    @include mq('1280') {
      width: 56px;
      height: 56px;
    }
  }
  &__link {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
    cursor: pointer;
  }
}

@keyframes slider {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(-2459px);
  }
}
