.header {
  width: 100%;
  position: fixed;
  padding: 18px 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  transition: background 300ms ease-in-out 0s, padding 140ms ease-in-out, transform 140ms ease-in-out 140ms;
  background: var(--heroBg);
  @include mq('768') {
    padding: 10px 0;
  }
  @include mq('1024') {
    padding: 23px 0;
  }
  &.scroll {
    transform: translateY(-60px);
    @include mq('768') {
      transform: translateY(-110px);
    }
  }
  &.bg {
    background: transparent;
    padding: 18px 0 14px;
    .icon {
      width: 100%;
      height: 100%;
      fill: var(--headerScrollColor);
    }
    .header-menu__link {
      @include mq('768') {
        color: var(--headerScrollColor);
      }
    }
    .burger i {
      background: var(--headerScrollColor);
    }
  }
  &.invert {
    .burger i {
      background: var(--header100vhColor);
    }
    .icon {
      fill: var(--header100vhColor);
    }
    .invert {
      @include mq('768') {
        filter: invert(0);
      }
    }
    .header-menu__link {
      @include mq('768') {
        color: var(--header100vhColor);
      }
    }
  }
  &.open {
    .header__logo .icon{
      fill: var(--fillColor);
    }
    .burger i {
      background: var(--fillColor);
    }
  }
  &__logo {
    width: 154px;
    height: 24px;
    display: block;
    z-index: 1;
    font-size: 0;
    .icon {
      width: 100%;
      height: 100%;
      fill: var(--headerStartColor);
    }
    @include mq('768') {
      width: 194px;
      height: 30px;
    }
    @include mq('1280') {
      width: 216px;
      height: 34px;
    }
    @include mq('1600') {
      width: 282px;
      height: 44px;
    }
  }
  &__container.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
  }
}


.theme-switcher {
  width: 64px;
  height: 64px;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  margin-top: 15%;
  opacity: 0;
  transform: translateY(10px);
  transition: transform 800ms cubic-bezier(.4,0,.2,1), opacity 600ms cubic-bezier(.4,0,.2,1);
  @include mq('768') {
    opacity: 1;
    transform: translateY(0);
    margin-top: 0;
    width: 44px;
    height: 44px;
  }
  @include mq('1280') {
    width: 64px;
    height: 64px;
  }
  img {
    width: 100%;
    height: 100%;
    opacity: 0;
    &.invert {
      @include mq('768') {
        filter: invert(1);
      }
    }
  }
}


.burger {
  width: 28px;
  height: 28px;
  position: relative;
  background: transparent;
  font-size: 0;
  @include mq('768') {
    display: none;
  }
  i {
    background: var(--headerStartColor);
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    transition: transform 250ms cubic-bezier(.2,.6,.3,1), width 250ms cubic-bezier(.2,.6,.3,1);
    will-change: transform, width;
    &:nth-child(2) {
      transform: translatey(9.5px);
    }
    &:nth-child(3) {
      transform: translatey(19px);
    }
  }
  &.close {
    i {
      background: var(--fillColor);
      &:first-child {
        transform: scale(0);
      }
      &:nth-child(2) {
        transform: translatey(9.5px) translatex(3.5px) rotate(-135deg);
      }
      &:nth-child(3) {
        transform: translatey(9.5px) translatex(3.5px) rotate(135deg);
      }
    }
  }
}


.header-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include mq('768') {
    flex-direction: row;
  }

  &__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    user-select: none;
    will-change: opacity, visibility;
    pointer-events: auto;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: visibility 600ms cubic-bezier(.4,0,.2,1), opacity 400ms cubic-bezier(.4,0,.2,1);
    padding-top: 60px;
    background: var(--bg);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    @include mq('768') {
      opacity: 1;
      position: relative;
      flex-direction: row;
      visibility: visible;
      padding-top: 0;
      background: transparent;
      height: 100%;
      width: auto;
      justify-content: flex-end;
    }
    &.open {
      visibility: visible;
      opacity: 1;
      .theme-switcher, .header-menu__item {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  &__link {
    font-family: $font-family-title;
    font-size: 32px;
    line-height: 1.4;
    letter-spacing: -1.2px;
    @include mq('768') {
      font-size: 24px;
      letter-spacing: -1.2px;
      color: var(--headerStartColor);
    }
  }
  &__item {
    margin-bottom: 16px;
    opacity: 0;
    transform: translateY(10px);
    transition: transform 700ms cubic-bezier(.4,0,.2,1), opacity 500ms cubic-bezier(.4,0,.2,1);
    @include mq('768') {
      opacity: 1;
      transform: translateY(0);
      margin-bottom: 0;
      margin-right: 40px;
    }
  }
}
