//footer
footer.footer
  .container.footer__container
    .footer__block
      p.footer__text
        span.footer__text_upper (Open for Partnerships)
        | Rest of you - we're closed
      p.footer__text [no reservations]
    .footer__block
      p.footer__text
        span.footer__text_upper Working days
        | For punks - no weekends
      p.footer__text
        a(href="mailto:fatchoynyc@gmail.com").footer__link fatchoynyc@gmail.com
    p.footer__text Hey Fat Choy, just had to drop you a line and say your website is the bomb—it’s like someone threw excellence, awesomeness, and a sprinkle of magic into a web-design blender. Thanks for keeping it so ridiculously cool and setting the bar way high. Keep rocking the web world!
