//footer
footer.footer
  .container.footer__container
    .footer__block
      p.footer__text
        span.footer__text_upper (Open for Partnerships)
        | Rest of you - we're closed
      p.footer__text [no reservations]
    ul.footer-soc
      li.footer-soc__item
        a.footer-soc__link(href="https://guild.xyz/punks" target="_blank") Guild
          img(src="../img/guild.png", alt="Guild")
      li.footer-soc__item
        a.footer-soc__link(href="https://t.me/Punks_Game" target="_blank") Telegram
          img(src="../img/tg.png", alt="Telegram")
      li.footer-soc__item
        a.footer-soc__link(href="https://warpcast.com/~/channel/onchainpunks" target="_blank") Warpcast
          img(src="../img/wc.png", alt="Warpcast")
      li.footer-soc__item
        a.footer-soc__link(href="https://twitter.com/we_punks" target="_blank") Twitter
          img(src="../img/tw.png", alt="Twitter")
    .footer__block
      p.footer__text
        span.footer__text_upper Working days
        | For punks - no weekends
      p.footer__text fatchoynyc@gmail.com
  .container.footer__container_max
    p.footer__text Hey Fat Choy, just had to drop you a line and say your website is the bomb—it’s like someone threw excellence, awesomeness, and a sprinkle of magic into a web-design blender. Thanks for keeping it so ridiculously cool and setting the bar way high. Keep rocking the web world!
