//header
header.header
  .container.header__container
    a.header__logo(href="./")
      +icon('logo')
    .header-menu__wrapper
      nav
        ul.header-menu
          li.header-menu__item
            a.header-menu__link(href="#") Home
            a.header-menu__link(href="#") Roadmap
            a.header-menu__link(href="#") Punkinomics
      //- button.theme-switcher
      //-   img(src="", alt="")
    button.theme-switcher
      img(src="", alt="")
    //- button.burger
    //-   i
    //-   i
    //-   i




