head
	meta(charset="utf-8")
	base(href="")
	title Punks
	meta(name="keywords" content="keywords")
	meta(name="description" content="description")
	//favicon
	link(rel="shortcut icon", href="favicons/favicon.ico", type="image/x-icon")
	//viewport
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0")
	//styles
	link(rel="preconnect" href="https://fonts.googleapis.com")
	link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
	link(href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet")
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">

	<link href="./css/style.min.css" rel="stylesheet">

