head
	meta(charset="utf-8")
	base(href="")
	title PUNKS | GameFi Dapp to Earn Free Crypto with Airdrops
	meta(name="keywords" content="airdrop, game, crypto, earn, free, clicker game, $punks, cryptocurrency, blockchain crypto rewards, play to earn, staking, holding")
	meta(name="description" content="Join the $PUNKS Airdrop Game to earn free crypto and collect $PUNKS tokens. Enjoy play-to-earn opportunities and exclusive airdrop rewards. Start earning today!")
	//favicon
	link(rel="apple-touch-icon" sizes="120x120" href="./favicons/apple-touch-icon.png")
	link(rel="icon" type="image/png" sizes="32x32" href="./favicons/favicon-32x32.png")
	link(rel="icon" type="image/png" sizes="16x16" href="./favicons/favicon-16x16.png")
	link(rel="manifest" href="./favicons/site.webmanifest")
	link(rel="mask-icon" href="./favicons/safari-pinned-tab.svg" color="#5bbad5")
	meta(name="msapplication-TileColor" content="#2b5797")
	meta(name="theme-color" content="#ffffff")
	//viewport
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0")
	//metapages
	meta(property='og:type' content='website')
	meta(property='og:url' content='')
	meta(property='og:image' content='./img/og/og-image.png')
	meta(property='og:image:type' content='image/jpeg')
	meta(property='og:image:width' content='1200')
	meta(property='og:image:height' content='637')
	meta(property='og:title' content='PUNKS | GameFi Dapp to Earn Free Crypto with Airdrops')
	meta(property='og:description' content="Join the $PUNKS Airdrop Game to earn free crypto and collect $PUNKS tokens. Enjoy play-to-earn opportunities and exclusive airdrop rewards. Start earning today!")
	meta(name='twitter:card' content='summary_large_image')
	meta(name='twitter:title' content='PUNKS | GameFi Dapp to Earn Free Crypto with Airdrops')
	meta(name='twitter:image' content='./img/og/og-image.png')
	//styles
	link(rel="preconnect" href="https://fonts.googleapis.com")
	link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
	link(href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet")
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">

	<link href="./css/style.min.css" rel="stylesheet">

