//header
header.header
  .container.header__container
    a.header__logo(href="./") logo
      +icon('logo')
    .header-menu__wrapper
      nav
        ul.header-menu
          li.header-menu__item
            a.header-menu__link(href="#home") Home
          li.header-menu__item
            a.header-menu__link(href="#roadmap") Roadmap
          li.header-menu__item
            a.header-menu__link(href="#punkinomics") Punkinomics
      button.theme-switcher
        img(src="", alt="")
    button.burger open menu
      i
      i
      i




